.avatar img {
	image-rendering: cover;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	flex-grow: 1;
	margin-left: 20px;
	text-align: center;
}

.avatar {
	display: inline-block;
	flex-basis: 250px;
	flex-grow: 1;
}

